body {
    background-color:	 #e6ffff;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
} 

blockquote {
  background-color: aquamarine;
font-size: 25px;
}

img
{
  width: 50px
}